
<form method="post" action="">
    {{!-- method get sẽ push các giá trị input có name lên url dạng query params / action sẽ thực hiện trên trang mình cần --}}
  <div class="form-group">
    <label for="search-input">Text</label>
    <input type="text" name="q" class="form-control" id="search-input"  placeholder="Enter text">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

